<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ifila_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ifila_app"
        tools:targetApi="31">
        <activity
            android:name=".CreateQueueScreen"
            android:exported="false" />
        <activity
            android:name=".EstabWithoutQueueScreen"
            android:exported="false" />
        <activity
            android:name=".EnterCodeScreen"
            android:exported="false" />
        <activity
            android:name=".LoginScreen"
            android:exported="false" />
        <activity
            android:name=".ManageQueue"
            android:exported="false"
            android:label="@string/title_activity_manage_queue"
            android:theme="@style/Theme.Ifila_app.NoActionBar" />
        <activity
            android:name=".RegisterScreenFailed"
            android:exported="false" />
        <activity
            android:name=".RegisterScreenFinish"
            android:exported="false" />
        <activity
            android:name=".RegisterScreen2"
            android:exported="false" />
        <activity
            android:name=".RegisterScreen1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>